<% content_for :title do t("profile.title.edit") end %>

<%= form_for(@profile, :as => :profile, :url => profile_path) do |f| %>
  <%= show_errors_for @profile -%>
  <fieldset>
    <p>
      <%= f.label :username, :class => "required" %><br />
      <%= f.text_field :username, :class => "half" %>
    </p>
    <p>
      <%= f.label :email, :class => "required" %><br />
      <%= f.text_field :email, :class => "half" %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, :class => "half" %>
      <small><%= t "profile.hint.password" -%></small>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :class => "half" %>
    </p>
    <p>
      <%= f.label :current_password, :class => "required" %><br />
      <%= f.password_field :current_password, :class => "half" %>
      <small><%= t "profile.hint.current_password" -%></small>
    </p>
    <p>
      <%= f.label :firstname, :class => "required" %><br />
      <%= f.text_field :firstname, :class => "half" %>
    </p>
    <p>
      <%= f.label :lastname, :class => "required" %><br />
      <%= f.text_field :lastname, :class => "half" %>
    </p>
    <p>
      <%= f.label :phone, :class => "required" %><br />
      <%= f.text_field :phone, :class => "half" %>
    </p>
    <p>
      <%= f.label :street %><br />
      <%= f.text_field :street, :class => "half" %>
    </p>
    <p>
      <%= f.label :zip_code %><br />
      <%= f.text_field :zip_code, :class => "half" %>
    </p>
    <p>
      <%= f.label :city %><br />
      <%= f.text_field :city, :class => "half" %>
    </p>
    <p>
      <%= f.label :country %><br />
      <%= country_select :profile, :country %>
    </p>
    <p class="box">
      <%= f.submit t("profile.action.update"), :class => "btn btn-green big" %>
      <%= f.submit t("action.reset"), :type => "reset", :class => "btn big" %>
    </p>
  </fieldset>
<% end %>