<% content_for :title do @user.fullname end %>

<% content_for :shortcuts do %>
  <dl class="first">
	  <dt><%= image_tag "show.png" %></dt>
  	<dd><%= link_to t("account.action.show"), admin_account_path(@account) %></dd>
  	<dd><%= t("account.shortcut.show") -%></dd>
  	<dt><%= image_tag "back.png" %></dt>
  	<dd><%= link_to t("action.back"), admin_user_accounts_path(@user) %></dd>
  	<dd class="last"><%= t("account.shortcut.index") -%></dd>
  </dl>
<% end %>

<h2><%= t "account.title.edit" -%></h2>

<%= form_for([:admin, @account]) do |f| %>
  <%= render "form", :f => f %>
<% end %>
