<% content_for :shortcuts do %>
  <dl class="first">
	  <dt><%= image_tag "back.png" %></dt>
  	<dd><%= link_to t("action.back"), transfers_path %></dd>
  	<dd class="last"><%= t "transfer.shortcut.back" -%></dd>
  </dl>
<% end %>

<h2><%= t "transfer.title.new" -%></h2>

<%= form_for(@transfer) do |f| %>
  <%= show_errors_for(@transfer) %>
  <fieldset>
    <p>
      <%= f.label :amount, :class => "required" %><br />
      <%= f.text_field :amount %>
      <small><%= t "transfer.hint.amount" -%></small>
    </p>
    <p>
      <%= f.label :source_id %><br />
      <%= f.collection_select(:source_id, current_user.accounts, :id, :description) %>
    </p>
    <p>
      <%= f.label :target_id %><br />
      <%= f.collection_select(:target_id, current_user.accounts, :id, :description) %>
    </p>
    <p class="box">
      <%= f.submit t("transfer.action.create"), :class => "btn btn-green big" %>
      <%= f.submit t("action.reset"), :type => "reset", :class => "btn big" %>
    </p>
  </fieldset>
<% end %>
