<% content_for :title do @user.fullname end %>

<% content_for :shortcuts do %>
  <dl class="first">
  	<dt><%= image_tag "back.png" %></dt>
  	<dd><%= link_to t("action.back"), admin_user_transfers_path(@user) %></dd>
  	<dd class="last"><%= t "transfer.shortcut.index" -%></dd>
  </dl>
<% end %>

<h2><%= t "transfer.title.show" -%></h2>

<p>
  <b><%= labelize "model.amount" -%></b>
  <%= @transfer.amount %>
</p>

<p>
  <b><%= labelize "model.source_account" -%></b>
  <%= @transfer.source.description %>
</p>

<p>
  <b><%= labelize "model.target_account" -%></b>
  <%= @transfer.target.description %>
</p>
